win-helpers/keep-win-awake-template-spec.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "keepWinAwakeServiceName": {
      "type": "string",
      "defaultValue": "keep-win-awake"
    },
    "winApimBaseUrl": {
      "type": "string",
      "defaultValue": "override-with-a-base-url"
    },
    "winOcpApimSubscriptionKey": {
      "type": "string",
      "defaultValue": "override-with-a-key"
    }
  },
  "functions": [],
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('keepWinAwakeServiceName')]",
      "location": "westeurope",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "do": "it"
                }
              }
            }
          },
          "actions": {
            "Initialize_variable": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "counter",
                    "type": "integer",
                    "value": 0
                  }
                ]
              }
            },
            "Until": {
              "actions": {
                "Delay": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 14,
                      "unit": "Minute"
                    }
                  }
                },
                "HTTP": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "headers": {
                      "Api-Version": "v1",
                      "Host": "sparetimedevs.azure-api.net",
                      "Ocp-Apim-Subscription-Key": "[parameters('winOcpApimSubscriptionKey')]",
                      "Ocp-Apim-Trace": "true"
                    },
                    "method": "GET",
                    "uri": "[format('{0}/win/candidates', parameters('winApimBaseUrl'))]"
                  }
                },
                "Increment_variable": {
                  "runAfter": {
                    "Delay": [
                      "Succeeded"
                    ]
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "counter"
                  }
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "expression": "@greaterOrEquals(variables('counter'), 7)",
              "limit": {
                "count": 10,
                "timeout": "PT1H"
              },
              "type": "Until"
            }
          },
          "outputs": {}
        }
      }
    }
  ]
}